body {
  text-align: center;
  background-color: rgb(230, 217, 170);
  color: #09a6b7;
}
p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 11.5%;
  padding-left: 45%;
}
header {
  background-color: #09a6b7;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  color: rgb(230, 217, 170);
}
.First {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
a {
  color: gray;
}
h2 {
  font-size: 2em;
}
ul,
ol {
  display: inline-block;
}
.firstPicture {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20%;
}

.secondPicture {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

body section {
  display: flex;
  flex: 1 0 auto;
}
